* { 
    margin: 0; 
    padding: 0;
}

html, body {
    height: auto;
    width: auto;
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0;
}

a { 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

a:hover {
    text-decoration: underline; 
}

.topnav { 
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 20px;
}

.about a:link, .store a:link {
    opacity: 0.75;
}

.gmail:hover, .images:hover {
    opacity: 0.8;
}

#topcolorleft { 
    color: rgb(0, 0, 0);
}

#topcolorright { 
    color: rgba(0, 0, 0, 0.87);
}

.gmail, .images, .apps, .signin { 
    float: right;
    padding-left: 5px;
    padding-right: 10px;
}

.gmail, .images { 
    padding-right: 12px;
}

.images { 
    padding-right: 14px;
}

.about, .store { 
    padding-left: 15px;
    padding-right: 0px;
}

li { 
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 30px;
}

.apps {
    height: 30px;
    width: 30px;
    background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px; 
    opacity: 0.55; 
    display: inline-block;
}

.apps:hover {
    opacity: 1; 
}

.signin { 
    padding-left: 0px;
}

#signinbutton {
    background-color: rgb(66, 133, 244);
    color: white;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 2px;
    display: inline-block;
}

#signinbutton:hover { 
    text-decoration: none;
}

.centerelements {
    text-align: center;
}

.logo { 
    padding-top: 152px;
}

.searchbar {
    padding: 10px;
    padding-bottom: 21px;    
}

.search { 
    line-height: 34px;
    margin: 12px;
    width: 485px;
    height: 44px;
    background: url('http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') no-repeat 450px 10px;
    background-size: 24px 24px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px #d9d9d9;
    font-size: 16px;
    font-family: Arial, sans-serif; 
}

input {
    padding: 10px;
    padding-right: 35px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    
}

.search:hover { 
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.button1{ 
    margin-right: 16px;
}

.button1:hover, .button2:hover { 
    color: black;
    border-color: rgb(173, 173, 173);
    border-radius: 2px;
}

.button1, .button2 { 
    font-family: Arial, sans-serif; 
    font-size: 13px;
    font-weight: 700;
    color: rgb(117, 117, 117);
    background-color: rgb(242, 242, 242);
    height: 36px;
    min-width: 54px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    text-shadow: none;
    border-color: rgb(242, 242, 242);
    border-radius: 2px;
}

.buttons { 
    padding-top: 0px;
    padding-bottom: 23px;
}

.googlehomehub { 
    padding-top: 0px;
    padding-bottom: 57px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
}

.googlehomehub a {
    color: #1a0dab;; 
}

.googlehomehub a:visited {
    color: #609;
}

.bottomnav { 
    padding: 20px;
    padding-left: 14px;
    padding-top: 4px;
    border-top-color: black;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(228, 228, 228);
    border-top-width: 1px;   
}

#bottomcolor { 
    color: rgb(95, 99, 104);
}

.bottomright { 
    float: right;
    padding-right: 15px;
}